[Unit]
Description = User Service
[Service]
User=roboshop
Environment=REDIS_URL='redis://redis.{{ env }}.harshaneo.online:6379'
Environment=MONGO_URL="mongodb://mongodb.{{ env }}.harshaneo.online:27017/users"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target